In [1]:
import pandas as pd

In [ ]:
df = pd.read_parquet("data/dataset.parquet")
nutrients = df[["name", "nutrient_nbr", "unit_name"]].drop_duplicates(keep="first")
nutrients = nutrients.sort_values(by="nutrient_nbr").reset_index(drop=True)

In [ ]:
nutrients = nutrients.rename(columns={"name": "nutrient_name"})

In [ ]:
nutrients["nutrient_informal_name"] = nutrients.nutrient_name

In [ ]:
nutrients = nutrients[
    ["nutrient_nbr", "nutrient_name", "nutrient_informal_name", "unit_name"]
]

In [ ]:
nutrients_no_duplicate_nbrs = nutrients.drop_duplicates(
    subset="nutrient_nbr", keep="last"
)

In [ ]:
nutrients.to_csv("data/nutrients.csv", index=False)

In [45]:
nutrients_no_duplicate_nbrs.to_csv("data/nutrients_no_duplicate_nbrs.csv")

In [ ]:
pd.read_csv("data/nutrients_no_duplicate_nbrs.csv").nutrient_nbr

0      203
1      204
2      205
3      207
4      208
      ...
144    855
145    856
146    857
147    858
148    859
Name: nutrient_nbr, Length: 149, dtype: int64

In [42]:
nutrients_no_duplicate_nbrs

,nutrient_nbr,nutrient_name,nutrient_informal_name,unit_name
0,203,Protein,Protein,G
1,204,Total lipid (fat),Total lipid (fat),G
3,205,"Carbohydrate, by difference","Carbohydrate, by difference",G
4,207,Ash,Ash,G
5,208,Energy,Energy,KCAL
...,...,...,...,...
154,855,PUFA 2:4 n-6,PUFA 2:4 n-6,G
155,856,PUFA 18:3i,PUFA 18:3i,G
156,857,PUFA 21:5,PUFA 21:5,G
157,858,PUFA 22:4,PUFA 22:4,G
158,859,MUFA 18:1-11 t (18:1t n-7),MUFA 18:1-11 t (18:1t n-7),G