In [108]:
import pandas as pd

In [109]:
food_fndds = pd.read_parquet('fndds_parquet/food.parquet')
food_nutrient_fndds = pd.read_parquet('fndds_parquet/food_nutrient.parquet')
nutrient_fndds = pd.read_parquet('fndds_parquet/nutrient.parquet').set_index('nutrient_nbr')
nutrient_fndds = nutrient_fndds.loc[nutrient_fndds.index.notna()]
nl = pd.read_csv('legacy/nutrient.csv')
# nutrient_fndds.drop(columns=['id', 'rank']).to_parquet('fndds_parquet/nutrient.parquet')
# food_fndds.to_parquet('fndds_parquet/food.parquet')
# food_nutrient_fndds.to_parquet('fndds_parquet/food_nutrient.parquet')
# nutrient_fndds.to_parquet('fndds_parquet/nutrient.parquet')

In [110]:
food_legacy = pd.read_parquet('legacy_parquet/food.parquet')
food_nutrient_legacy = pd.read_parquet('legacy_parquet/food_nutrient.parquet')
nutrient_legacy = pd.read_parquet('legacy_parquet/nutrient.parquet')
id_to_nbd = pd.read_parquet('legacy_parquet/id_to_nbd.parquet')
nutrient_id_to_nbr = 
f_ndb = food_legacy.join(id_to_nbd, how='left').reset_index().set_index('NDB_number')
# food_legacy.to_parquet('legacy_parquet/food.parquet')
# food_nutrient_legacy.to_parquet('legacy_parquet/food_nutrient.parquet')
# nutrient_legacy.to_parquet('legacy_parquet/nutrient.parquet')
# id_to_nbd.to_parquet('legacy_parquet/id_to_nbd.parquet')

In [174]:
nl.nutrient_nbr.sort_values().dropna()

440    200.0
2      201.0
3      202.0
4      203.0
5      204.0
       ...
447    954.0
451    955.0
450    956.0
0      957.0
1      958.0
Name: nutrient_nbr, Length: 462, dtype: float64

In [176]:
fnl

,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,nutrient_id
0,5.88,1,46.0,NaN,NaN,NaN,None,NaN,203.0
1,3.50,1,46.0,NaN,NaN,NaN,None,NaN,207.0
2,1286.00,0,49.0,NaN,NaN,NaN,None,NaN,268.0
3,1.20,1,46.0,NaN,NaN,NaN,None,NaN,291.0
4,2.12,1,46.0,NaN,NaN,NaN,None,NaN,303.0
...,...,...,...,...,...,...,...,...,...
644120,0.00,0,NaN,NaN,NaN,NaN,None,NaN,415.0
644121,0.00,0,68.0,NaN,NaN,NaN,None,NaN,573.0
644122,0.00,0,68.0,NaN,NaN,NaN,None,NaN,578.0
644123,14.00,0,12.0,NaN,NaN,NaN,None,NaN,454.0
644124,106.40,0,12.0,NaN,NaN,NaN,None,NaN,421.0

In [187]:
food_nutrient_legacy.reset_index().merge(nl[['nutrient_nbr', 'id']], left_on='nutrient_id', right_on='id', suffixes=['s', 'f']).set_index()

,ids,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,nutrient_nbr,idf
0,1283674,1003,5.88,1,46.0,NaN,NaN,NaN,None,NaN,203.0,1003
1,1283675,1007,3.50,1,46.0,NaN,NaN,NaN,None,NaN,207.0,1007
2,1283676,1062,1286.00,0,49.0,NaN,NaN,NaN,None,NaN,268.0,1062
3,1283677,1079,1.20,1,46.0,NaN,NaN,NaN,None,NaN,291.0,1079
4,1283678,1089,2.12,1,46.0,NaN,NaN,NaN,None,NaN,303.0,1089
...,...,...,...,...,...,...,...,...,...,...,...,...
644120,1927794,1175,0.00,0,NaN,NaN,NaN,NaN,None,NaN,415.0,1175
644121,1927795,1242,0.00,0,68.0,NaN,NaN,NaN,None,NaN,573.0,1242
644122,1927796,1246,0.00,0,68.0,NaN,NaN,NaN,None,NaN,578.0,1246
644123,1927797,1198,14.00,0,12.0,NaN,NaN,NaN,None,NaN,454.0,1198
644124,1927798,1180,106.40,0,12.0,NaN,NaN,NaN,None,NaN,421.0,1180

In [188]:
# fnl = food_nutrient_legacy.reset_index().merge(nl[['nutrient_nbr', 'id']], left_on='nutrient_id', right_on='id', suffixes=['', '_n']).drop(columns=['id_n', 'nutrient_id']).rename(columns={'nutrient_nbr': 'nutrient_id'}).set_index('fdc_id')
# fnl = pd.concat([fnl.iloc[:, 0], fnl.iloc[:, -1], fnl.iloc[:, 1:-1]], axis=1)
# fnl.to_parquet('legacy_parquet/food_nutrient.parquet')
# fnl = pd.concat([fnl.iloc[:, 0], fnl.iloc[:, -1], fnl.iloc[:, 1:-1]], axis=1)

In [ ]:
fnl.to_parquet('legacy_parquet/food_nutrient.parquet')

In [179]:
food_nutrient_fndds

,id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
fdc_id,,,,,,,,,,
2340760,28540528,221,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340760,28540547,323,0.080,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340760,28540565,578,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340760,28540554,405,0.036,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340760,28540549,334,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2346383,28906044,334,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2346383,28906068,612,0.048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2346383,28906042,323,10.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2346383,28906052,417,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2346383,28906070,614,23.263,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
nl

,id,name,unit_name,nutrient_nbr,rank
0,2047,Energy (Atwater General Factors),KCAL,957.0,280.0
1,2048,Energy (Atwater Specific Factors),KCAL,958.0,290.0
2,1001,Solids,G,201.0,200.0
3,1002,Nitrogen,G,202.0,500.0
4,1003,Protein,G,203.0,600.0
...,...,...,...,...,...
469,2061,"Ergosta-7,22-dienol",MG,NaN,16211.0
470,2062,"Ergosta-5,7-dienol",MG,NaN,16211.0
471,2063,Verbascose,G,NaN,2450.0
472,2064,Oligosaccharides,MG,NaN,2250.0
473,2065,Low Molecular Weight Dietary Fiber (LMWDF),G,293.4,1306.0

In [111]:
codes = pd.read_csv('food_codes.csv', encoding='latin1')
codes = codes.loc[codes.price.notna()]
codes_legacy = codes.loc[codes.fndds_code.isna()].copy()
codes_fndds = codes.loc[codes.fndds_code.notna()].copy()
codes_fndds['fndds_code'] = codes_fndds.fndds_code.astype(int)
codes_legacy = codes_legacy.merge(f_ndb, left_on='ndb_code', right_index=True)
codes_legacy = codes_legacy[['food', 'name', 'price', 'lbs', 'multiplier', 'fdc_id', 'description']]
codes_fndds = codes_fndds.merge(food_fndds.reset_index(), left_on='fndds_code', right_on='food_code')
codes_fndds = codes_fndds[['food', 'name', 'price', 'lbs', 'multiplier', 'fdc_id', 'description']]
codes_fndds = codes_fndds.rename(columns={'food_code': 'fdc_id'})
codes = pd.concat([codes_legacy, codes_fndds]).set_index('fdc_id')

In [112]:
codes_legacy

,food,name,price,lbs,multiplier,fdc_id,description
1,Wheat flour,"Wheat flour, whole-grain (Includes foods for U...",24.49,50.0,NaN,168893,"Wheat flour, whole-grain (Includes foods for U..."
2,Enriched wheat flour,"Wheat flour, white, all-purpose, enriched, ble...",23.99,50.0,NaN,168894,"Wheat flour, white, all-purpose, enriched, ble..."
5,Barley flour,Barley flour or meal,33.18,50.0,NaN,169739,Barley flour or meal
6,Corn flour,"Corn flour, whole-grain, yellow",22.99,50.0,NaN,170290,"Corn flour, whole-grain, yellow"
72,Tuna,"Fish, tuna, light, canned in water, without sa...",3.50,1.0,NaN,171986,"Fish, tuna, light, canned in water, without sa..."

In [137]:
food_nutrient_legacy.merge(nl, left_on='nutrient_id', right_on='id')

,id_x,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,id_y,name,unit_name,nutrient_nbr,rank
0,1283674,1003,5.88,1,46.0,NaN,NaN,NaN,None,NaN,1003,Protein,G,203.0,600.0
1,1283675,1007,3.50,1,46.0,NaN,NaN,NaN,None,NaN,1007,Ash,G,207.0,1000.0
2,1283676,1062,1286.00,0,49.0,NaN,NaN,NaN,None,NaN,1062,Energy,kJ,268.0,400.0
3,1283677,1079,1.20,1,46.0,NaN,NaN,NaN,None,NaN,1079,"Fiber, total dietary",G,291.0,1200.0
4,1283678,1089,2.12,1,46.0,NaN,NaN,NaN,None,NaN,1089,"Iron, Fe",MG,303.0,5400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644120,1927794,1175,0.00,0,NaN,NaN,NaN,NaN,None,NaN,1175,Vitamin B-6,MG,415.0,6800.0
644121,1927795,1242,0.00,0,68.0,NaN,NaN,NaN,None,NaN,1242,"Vitamin E, added",MG,573.0,7920.0
644122,1927796,1246,0.00,0,68.0,NaN,NaN,NaN,None,NaN,1246,"Vitamin B-12, added",UG,578.0,7340.0
644123,1927797,1198,14.00,0,12.0,NaN,NaN,NaN,None,NaN,1198,Betaine,MG,454.0,7290.0
644124,1927798,1180,106.40,0,12.0,NaN,NaN,NaN,None,NaN,1180,"Choline, total",MG,421.0,7220.0

In [133]:
nl = pd.read_csv('legacy/nutrient.csv')

In [134]:
nl.head()

     id                               name unit_name  nutrient_nbr   rank
0  2047   Energy (Atwater General Factors)      KCAL         957.0  280.0
1  2048  Energy (Atwater Specific Factors)      KCAL         958.0  290.0
2  1001                             Solids         G         201.0  200.0
3  1002                           Nitrogen         G         202.0  500.0
4  1003                            Protein         G         203.0  600.0

In [113]:
food_nutrient = pd.concat([food_nutrient_fndds, food_nutrient_legacy])
core_nutrients = codes.join(food_nutrient, how='left')

In [114]:
core_nutrients['nutrient_id'] = core_nutrients.nutrient_id.astype(float)
core_nutrients = core_nutrients.drop(columns='name')

In [115]:
nutrient_fndds.index

Index([ 957.0,  958.0,  201.0,  202.0,  203.0,  204.0,  205.0,  206.0,  207.0,
        208.0,
       ...
       323.99,  500.0,  300.0,  950.0,  951.0,  952.0,  717.0,  718.0,  719.0,
        293.4],
      dtype='float64', name='nutrient_nbr', length=462)

In [116]:
food_nutrient.loc[168944].sort_values(by='nutrient_id')

,id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
fdc_id,,,,,,,,,,
168944,1401184,1003,9.610,24.0,1.0,8.500,11.200,NaN,None,NaN
168944,1401215,1004,1.950,24.0,1.0,1.780,2.190,NaN,None,NaN
168944,1401216,1005,74.480,0.0,49.0,NaN,NaN,NaN,None,NaN
168944,1401185,1007,1.530,24.0,1.0,1.300,1.770,NaN,None,NaN
168944,1401217,1008,332.000,0.0,49.0,NaN,NaN,NaN,None,NaN
168944,1401218,1051,12.420,24.0,1.0,9.100,14.300,NaN,None,NaN
168944,1401186,1062,1391.000,0.0,49.0,NaN,NaN,NaN,None,NaN
168944,1401187,1079,13.100,24.0,1.0,11.600,14.600,NaN,Dietary fiber quantified using enzymatic-gravi...,NaN
168944,1401201,1087,33.000,24.0,1.0,25.000,43.000,NaN,None,NaN
168944,1401188,1089,3.710,24.0,1.0,3.030,4.300,NaN,None,NaN
168944,1401189,1090,117.000,24.0,1.0,98.000,140.000,NaN,None,NaN
168944,1401190,1091,323.000,24.0,1.0,220.000,376.000,NaN,None,NaN
168944,1401202,1092,394.000,24.0,1.0,359.000,464.000,NaN,None,NaN
168944,1401191,1093,3.000,5.0,1.0,1.000,10.000,NaN,None,NaN
168944,1401203,1095,2.960,24.0,1.0,1.510,3.810,NaN,None,NaN
168944,1401192,1098,0.475,24.0,1.0,0.283,0.928,NaN,None,NaN
168944,1401193,1101,3.399,24.0,1.0,1.990,4.547,NaN,None,NaN
168944,1401204,1103,12.700,11.0,1.0,3.000,62.800,NaN,None,NaN
168944,1401194,1104,9.000,0.0,49.0,NaN,NaN,NaN,None,NaN
168944,1401195,1105,0.000,0.0,68.0,NaN,NaN,NaN,None,NaN
168944,1401196,1106,0.000,0.0,49.0,NaN,NaN,NaN,None,NaN
168944,1401197,1107,5.000,0.0,20.0,NaN,NaN,NaN,None,NaN
168944,1401198,1108,0.000,0.0,68.0,NaN,NaN,NaN,None,NaN
168944,1401205,1109,0.530,24.0,1.0,0.310,0.910,NaN,None,NaN
168944,1401220,1110,0.000,0.0,68.0,NaN,NaN,NaN,None,NaN
168944,1401199,1114,0.000,0.0,68.0,NaN,NaN,NaN,None,NaN
168944,1401200,1120,0.000,0.0,68.0,NaN,NaN,NaN,None,NaN
168944,1401175,1122,0.000,0.0,68.0,NaN,NaN,NaN,None,NaN
168944,1401206,1123,220.000,0.0,20.0,NaN,NaN,NaN,None,NaN
168944,1401176,1162,0.000,0.0,20.0,NaN,NaN,NaN,None,NaN
168944,1401177,1165,0.297,24.0,1.0,0.230,0.371,NaN,None,NaN
168944,1401178,1166,0.188,24.0,1.0,0.131,0.311,NaN,None,NaN
168944,1401207,1167,5.347,24.0,1.0,4.405,7.086,NaN,None,NaN
168944,1401208,1170,1.011,24.0,1.0,0.695,1.470,NaN,None,NaN
168944,1401209,1175,0.191,23.0,1.0,0.142,0.233,NaN,None,NaN
168944,1401179,1177,28.000,24.0,1.0,14.000,40.000,NaN,None,NaN
168944,1401210,1180,31.200,0.0,20.0,NaN,NaN,NaN,None,NaN
168944,1401180,1185,1.900,0.0,20.0,NaN,NaN,NaN,None,NaN
168944,1401211,1186,0.000,0.0,68.0,NaN,NaN,NaN,None,NaN
168944,1401181,1187,28.000,24.0,1.0,14.000,40.000,NaN,None,NaN
168944,1401212,1190,28.000,0.0,49.0,NaN,NaN,NaN,None,NaN
168944,1401182,1253,0.000,0.0,68.0,NaN,NaN,NaN,None,NaN
168944,1401183,1258,0.430,0.0,20.0,NaN,NaN,NaN,None,NaN
168944,1401213,1292,0.283,0.0,20.0,NaN,NaN,NaN,None,NaN
168944,1401214,1293,1.167,0.0,20.0,NaN,NaN,NaN,None,NaN
168944,1401219,2000,1.020,18.0,NaN,0.700,1.500,NaN,None,NaN

In [117]:
cnap = core_nutrients.merge(nutrient_fndds.reset_index(), left_on='nutrient_id', right_on='nutrient_nbr', how='inner')
cna = cnap.pivot(index='food', columns=['name','nutrient_nbr'], values='amount')
cna.to_parquet('core_nutrient_amounts_v1.parquet')
cna.droplevel(1, axis=1).sort_values(by='Energy')

name,SFA 6:0,"Vitamin B-12, added",Riboflavin,Folic acid,PUFA 20:4,"Vitamin E, added",PUFA 22:5 n-3 (DPA),"Folate, DFE",MUFA 20:1,"Fatty acids, total monounsaturated",...,"Selenium, Se","Calcium, Ca","Iron, Fe",Vitamin E (alpha-tocopherol),Total lipid (fat),Protein,"Potassium, K",Vitamin D (D2 + D3),Energy,"Vitamin A, RAE"
food,,,,,,,,,,,,,,,,,,,,,
Bok Choy,0.0,0.0,0.070,0.0,0.000,0.0,0.0,66.0,0.000,0.015,...,0.5,105.0,0.80,0.09,0.20,1.50,252.0,0.0,13.0,223.0
Lettuce,0.0,0.0,0.053,0.0,0.000,0.0,0.0,34.0,0.000,0.006,...,0.4,27.0,0.64,0.20,0.14,1.13,168.0,0.0,14.0,198.0
Cucumber,0.0,0.0,0.033,0.0,0.000,0.0,0.0,7.0,0.000,0.005,...,0.3,16.0,0.28,0.03,0.11,0.65,147.0,0.0,15.0,5.0
Zucchini,0.0,0.0,0.094,0.0,0.000,0.0,0.0,24.0,0.000,0.011,...,0.2,16.0,0.37,0.12,0.32,1.21,261.0,0.0,17.0,10.0
Swiss Chard,0.0,0.0,0.090,0.0,0.000,0.0,0.0,14.0,0.000,0.040,...,0.9,51.0,1.80,1.89,0.20,1.80,379.0,0.0,19.0,306.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Almonds,0.0,0.0,1.197,0.0,0.000,0.0,0.0,55.0,0.007,33.076,...,2.0,268.0,3.73,23.90,52.54,20.96,713.0,0.0,598.0,0.0
Hazelnuts,0.0,0.0,0.113,0.0,0.000,0.0,0.0,113.0,0.131,45.652,...,2.4,114.0,4.70,15.03,60.75,14.95,680.0,0.0,628.0,1.0
Walnuts,0.0,0.0,0.150,0.0,0.000,0.0,0.0,98.0,0.134,8.933,...,4.9,98.0,2.91,0.70,65.21,15.23,441.0,0.0,654.0,1.0
Macadamia nuts,0.0,0.0,0.087,0.0,0.000,0.0,0.0,10.0,1.925,59.275,...,11.7,70.0,2.65,0.57,76.08,7.79,363.0,0.0,716.0,0.0
Olive Oil,0.0,0.0,0.000,0.0,0.013,0.0,0.0,0.0,0.284,68.420,...,0.0,1.0,0.56,20.88,100.00,0.00,1.0,0.0,900.0,0.0

In [118]:
cnap['price_per_lb'] = cnap.price / cnap.lbs
cnap['multiplier'] = cnap.multiplier.fillna(1)
cnap['price_per_lb_adjusted'] = cnap.price / (cnap.lbs * cnap.multiplier)
cnap = cnap.loc[:,['food', 'price', 'lbs', 'multiplier', 'description', 'amount',
             'nutrient_nbr', 'name',
       'unit_name', 'price_per_lb', 'price_per_lb_adjusted']]
cnap.to_parquet('core_nutrient_amounts_prices_v1.parquet')

In [119]:
cnap.name.unique()

array(['SFA 6:0', 'Vitamin B-12, added', 'Riboflavin', 'Folic acid',
       'PUFA 20:4', 'Vitamin E, added', 'PUFA 22:5 n-3 (DPA)',
       'Folate, DFE', 'MUFA 20:1', 'Fatty acids, total monounsaturated',
       'Choline, total', 'PUFA 22:6 n-3 (DHA)', 'PUFA 18:4', 'MUFA 16:1',
       'SFA 12:0', 'SFA 18:0', 'PUFA 20:5 n-3 (EPA)',
       'Vitamin K (phylloquinone)', 'PUFA 18:2',
       'Fatty acids, total polyunsaturated', 'MUFA 22:1', 'Cholesterol',
       'MUFA 18:1', 'Folate, food', 'Folate, total', 'SFA 4:0',
       'SFA 16:0', 'Vitamin B-12', 'Fatty acids, total saturated',
       'Niacin', 'SFA 14:0', 'SFA 10:0', 'SFA 8:0', 'Vitamin B-6',
       'PUFA 18:3', 'Phosphorus, P', 'Zinc, Zn', 'Sugars, Total', 'Water',
       'Cryptoxanthin, beta', 'Theobromine', 'Fiber, total dietary',
       'Sodium, Na', 'Carotene, alpha', 'Thiamin', 'Carotene, beta',
       'Copper, Cu', 'Magnesium, Mg', 'Lutein + zeaxanthin',
       'Vitamin C, total ascorbic acid', 'Retinol', 'Alcohol, ethyl',
       'Caffeine', 'Carbohydrate, by difference', 'Lycopene',
       'Selenium, Se', 'Calcium, Ca', 'Iron, Fe',
       'Vitamin E (alpha-tocopherol)', 'Total lipid (fat)', 'Protein',
       'Potassium, K', 'Vitamin D (D2 + D3)', 'Energy', 'Vitamin A, RAE'],
      dtype=object)

In [120]:
def ppnu(df, nutrient):
    return df.loc[df.name == nutrient].sort_values(by='price_per_nutrient_unit')

In [121]:
cnap.unit_name.unique()
LB_CONVERSIONS = {
    'G': 0.00220462,
    'MG': 0.00000220462,
    'UG': 0.00000000220462,
}

In [122]:
cnap['g'] = cnap.lbs * 453.592
cnap['price_per_g'] = cnap.price / cnap.g
cnap['price_per_g_adjusted'] = cnap.price / (cnap.g * cnap.multiplier)
cnap['price_per_100_g'] = cnap.price_per_g * 100
cnap['price_per_100_g_adjusted'] = cnap.price_per_g_adjusted * 100
cnap['price_per_nutrient_unit'] = cnap.price_per_100_g_adjusted / cnap.amount

In [123]:
ppnu(cnap, 'PUFA 20:5 n-3 (EPA)')

,food,price,lbs,multiplier,description,amount,nutrient_nbr,name,unit_name,price_per_lb,price_per_lb_adjusted,g,price_per_g,price_per_g_adjusted,price_per_100_g,price_per_100_g_adjusted,price_per_nutrient_unit
4105,Salmon,8.00,1.00,0.75,"Fish, salmon, NFS",0.860,629.0,PUFA 20:5 n-3 (EPA),G,8.00000,10.666667,453.592,0.017637,0.023516,1.763700,2.351599,2.734418
4180,Pink Salmon,3.60,1.00,1.00,"Fish, salmon, canned",0.274,629.0,PUFA 20:5 n-3 (EPA),G,3.60000,3.600000,453.592,0.007937,0.007937,0.793665,0.793665,2.896587
4420,Mussels,10.00,1.00,1.00,Mussels,0.238,629.0,PUFA 20:5 n-3 (EPA),G,10.00000,10.000000,453.592,0.022046,0.022046,2.204624,2.204624,9.263128
4391,Oysters,80.00,4.00,1.00,"Oysters, raw",0.177,629.0,PUFA 20:5 n-3 (EPA),G,20.00000,20.000000,1814.368,0.044092,0.044092,4.409249,4.409249,24.911010
4242,Shrimp,7.50,1.00,0.75,"Shrimp, NFS",0.074,629.0,PUFA 20:5 n-3 (EPA),G,7.50000,10.000000,453.592,0.016535,0.022046,1.653468,2.204624,29.792222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,Potatoes,4.39,8.00,0.75,"Potato, NFS",0.000,629.0,PUFA 20:5 n-3 (EPA),G,0.54875,0.731667,3628.736,0.001210,0.001613,0.120979,0.161305,inf
1553,Broccoli,1.29,0.75,1.00,"Broccoli, raw",0.000,629.0,PUFA 20:5 n-3 (EPA),G,1.72000,1.720000,340.194,0.003792,0.003792,0.379195,0.379195,inf
1470,Cabbage,0.75,1.00,1.00,"Cabbage, green, raw",0.000,629.0,PUFA 20:5 n-3 (EPA),G,0.75000,0.750000,453.592,0.001653,0.001653,0.165347,0.165347,inf
1979,Oranges,4.29,3.00,0.80,"Orange, raw",0.000,629.0,PUFA 20:5 n-3 (EPA),G,1.43000,1.787500,1360.776,0.003153,0.003941,0.315261,0.394077,inf
2735,Kiwi,4.39,2.00,1.00,"Kiwi fruit, raw",0.000,629.0,PUFA 20:5 n-3 (EPA),G,2.19500,2.195000,907.184,0.004839,0.004839,0.483915,0.483915,inf

In [124]:
cnap.to_parquet('core_nutrient_amounts_prices_v2.parquet')

In [125]:
constraints= pd.read_csv('nutrient_constraints_csv.csv')
cne = constraints.loc[constraints.target.notna() | constraints.ll.notna() | constraints.ul.notna()]

In [126]:
cne.head()

,nutrient_nbr,id,name,unit_name,rank,target,ll,ul
0,203,1003,Protein,G,600,NaN,62.500000,218.750000
1,204,1004,Total lipid (fat),G,800,NaN,55.555556,97.222222
2,205,1005,"Carbohydrate, by difference",G,1110,NaN,281.250000,406.250000
3,208,1008,Energy,KCAL,300,3500.0,NaN,NaN
6,262,1057,Caffeine,MG,18300,NaN,NaN,400.000000

In [127]:
cnap['nutrient_unit_per_dollar'] = cnap.amount / cnap.price_per_100_g_adjusted

In [128]:
cnap.head()

,food,price,lbs,multiplier,description,amount,nutrient_nbr,name,unit_name,price_per_lb,price_per_lb_adjusted,g,price_per_g,price_per_g_adjusted,price_per_100_g,price_per_100_g_adjusted,price_per_nutrient_unit,nutrient_unit_per_dollar
0,Brown rice,21.99,25.0,3.0,"Rice, brown, cooked, no added fat",0.000,608.0,SFA 6:0,G,0.8796,0.2932,11339.8,0.001939,0.000646,0.193919,0.06464,inf,0.000000
1,Brown rice,21.99,25.0,3.0,"Rice, brown, cooked, no added fat",0.000,578.0,"Vitamin B-12, added",UG,0.8796,0.2932,11339.8,0.001939,0.000646,0.193919,0.06464,inf,0.000000
2,Brown rice,21.99,25.0,3.0,"Rice, brown, cooked, no added fat",0.069,405.0,Riboflavin,MG,0.8796,0.2932,11339.8,0.001939,0.000646,0.193919,0.06464,0.936806,1.067457
3,Brown rice,21.99,25.0,3.0,"Rice, brown, cooked, no added fat",0.000,431.0,Folic acid,UG,0.8796,0.2932,11339.8,0.001939,0.000646,0.193919,0.06464,inf,0.000000
4,Brown rice,21.99,25.0,3.0,"Rice, brown, cooked, no added fat",0.000,620.0,PUFA 20:4,G,0.8796,0.2932,11339.8,0.001939,0.000646,0.193919,0.06464,inf,0.000000

In [129]:
cnap.food.unique()

array(['Brown rice', 'Quinoa', 'White Rice', 'Sugar', 'Oats', 'Tomatoes',
       'Cucumber', 'Zucchini', 'Eggplant', 'Red Bell Pepper', 'Peas',
       'Green Bell Pepper', 'Carrots', 'Onions', 'Garlic', 'Spinach',
       'Corn', 'Kale', 'Swiss Chard', 'Bok Choy', 'Brussels Sprouts',
       'Lettuce', 'Cabbage', 'Broccoli', 'Potatoes', 'Sweet Potato',
       'Cauliflower', 'Asparagus', 'Mushrooms', 'Apples', 'Oranges',
       'Grapefruit', 'Pomegranates', 'Bananas', 'Watermelon',
       'Honeydew Melon', 'Cantaloupe', 'Pears', 'Peaches', 'Strawberries',
       'Mango', 'Pineapple', 'Kiwi', 'Raspberries', 'Blueberries',
       'Cherries', 'Almonds', 'Hazelnuts', 'Peanuts', 'Macadamia nuts',
       'Cashews', 'Walnuts', 'Pumpkin seeds', 'Sunflower seeds',
       'Chia seeds', 'Avocados', 'Olive Oil', 'Chicken breast',
       'Chicken thigh', 'Turkey', 'Beef Liver', 'Pork', 'Beef', 'Salmon',
       'Pink Salmon', 'Shrimp', 'Cod', 'Oysters', 'Mussels', 'Egg whites',
       'Eggs', 'Black Beans', 'White Beans', 'Kidney Beans', 'Lentils',
       'Chickpeas', 'Soy Protein Powder', 'Split Peas', 'Whole Milk',
       'Skim Milk', 'Whole Greek Yogurt', 'Nonfat Greek Yogurt',
       'Cottage Cheese', 'Whey Protein Powder', 'American Cheese'],
      dtype=object)

In [130]:
cnap.to_csv('core_nutrient_amounts_prices_v3.csv')

In [131]:
cnap.columns

Index(['food', 'price', 'lbs', 'multiplier', 'description', 'amount',
       'nutrient_nbr', 'name', 'unit_name', 'price_per_lb',
       'price_per_lb_adjusted', 'g', 'price_per_g', 'price_per_g_adjusted',
       'price_per_100_g', 'price_per_100_g_adjusted',
       'price_per_nutrient_unit', 'nutrient_unit_per_dollar'],
      dtype='object')