In [2]:
import pandas as pd
from pyfoodopt import *

%load_ext autoreload
%autoreload 2

In [13]:
constraints = Constraints()
constraints.add_nutrient_constraints_from_csv("../data/nutrient_constraints.csv")
p = Pantry()
p.build_pantry_from_csv("../data/food_nutrient_amounts.csv")
fo = FoodOptimizer(pantry=p, constraints=constraints)
fo.optimize()

1

In [14]:
fo.get_optimal_foods()

        cost  fdc_id        food_name  price_per_100_g      amount
0   0.291859  167765       Watermelon         0.165347  176.513240
1   0.405153  168893      Wheat_flour         0.107983  375.202634
2   0.027223  169451       Beef_Liver         0.330694    8.232067
3   0.196701  169975          Cabbage         0.165347  118.962449
4   0.161108  170026         Potatoes         0.120979  133.170710
5   0.069356  170187          Walnuts         1.333798    5.199857
6   0.071736  170393          Carrots         0.170858   41.985530
7   0.046368  170554       Chia_seeds         1.983060    2.338195
8   0.176369  170562  Sunflower_seeds         0.606272   29.090795
9   0.705394  171267          2%_Milk         0.087909  802.410140
10  0.059222  171287             Eggs         0.330694   17.908288
11  0.180157  172428       Split_Peas         0.264445   68.126512
12  0.212022  175138      Pink_Salmon         0.793665   26.714262
13  0.367855  175139         Sardines         0.881850   41.714024